<div class="container animated fadeIn fast">

    <div class="centrar espaciado">
        <img style="border-radius: 20px" src="./assets/imgs/enconstruccion.png">
    </div>

    <br>

    <button type="button" class="btn btn-outline-secondary btn-lg btn-block" routerLink="/angular">
        Regresar
    </button>
    <br>

    <div class="row">


        <div class="card-deck">
            <div class="card zoom">
                <div class="imgPortada" data-toggle="modal" data-target="#modal_zoom">
                    <img class="card-img-top" [src]="IMG_PATH + proyecto.portada">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ proyecto.titulo }}</h5>
                    <p class="card-text justificado">{{ proyecto.subtitulo }}</p>
                </div>
            </div>
        </div>


    </div>

</div>