/* You can add global styles to this file, and also import other style files */

.justificado {
    text-align: justify;
}

.paddingContainer {
    padding-top: 30px;
    padding-bottom: 100px;
}


/* animaciones */

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}